<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uf.seniorproj.alexryan"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Mytheme" >
        <activity
            android:name="uf.seniorproj.alexryan.MainActivity"
            android:label="@string/app_name" >

            <!--
            FOR SPLASH SCREEN:
            change android:name to .SplashScreen AND
            add android:theme="@android:style/Theme.Black.NoTitleBar" to activity section
            look below for more instructions! :D
            -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="uf.seniorproj.alexryan.FoilActivity"
            android:label="@string/title_activity_foil" >
        </activity>
        <activity
            android:name="uf.seniorproj.alexryan.SolveForX"
            android:label="@string/title_activity_solve_for_x" >
        </activity>
        <activity
            android:name="uf.seniorproj.alexryan.WordProbActivity"
            android:label="@string/title_activity_word_prob" >
        </activity>
        <activity
            android:name="uf.seniorproj.alexryan.ProblemSelect"
            android:label="@string/title_activity_problem_select" >
        </activity>
        <activity
            android:name="uf.seniorproj.alexryan.GraphActivity"
            android:label="@string/title_activity_graph" >
        </activity>

        <!--
        ADD THIS FOR SPLASH SCREEN
        <activity
            android:name="uf.seniorproj.alexryan.MainActivity"
            android:label="@string/app_name" >
        </activity>
        -->
        <activity
            android:name="uf.seniorproj.alexryan.Prime"
            android:label="@string/title_activity_prime"
            android:windowSoftInputMode="adjustResize" >
        </activity>
    </application>

</manifest>
